/* Font styles */
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap);
/* Responsive styles */
@media (min-width: 768px) {
  .productPic,
  .productPic img {
    border-radius: 1rem 0 0 1rem;
  }
  body,
  html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  body {
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 500;
    background-color: #f2eae2;
    align-items: center;
    justify-content: center;
  }
  .container {
    display: flex;
    width: 580px;
    height: 450px;
    margin: auto;
  }
  .productPic {
    display: inline-block;
    overflow: hidden;
    flex: 1.2;
  }
  .productPic img {
    content: url("images/image-product-desktop.jpg");
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .productInformation {
    background-color: #fff;
    border-radius: 0 1rem 1rem 0;
    padding: 30px 30px 0;
    height: auto;
    flex: 1;
  }
  .btn {
    background-color: #3c8067;
    color: #fff;
    padding: 0.95rem;
    border: 0;
    border-radius: 0.5em;
    width: 100%;
    font-weight: 700;
  }
}
@media (max-width: 767px) {
  body {
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 500;
    background-color: #f2eae2;
    height: 100%;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
  }
  .productPic img {
    border-radius: 1rem 1rem 0 0;
    width: 100%;
    display: block;
    content: url("images/image-product-mobile.jpg");
  }
  .productInformation {
    background-color: #fff;
    border-radius: 0 0 1rem 1rem;
    width: 100%;
    padding: 1rem 2.7rem 2.7rem 3rem;
    box-sizing: border-box;
  }
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3c8067;
    color: #fff;
    padding: 1rem 3rem;
    border: 0;
    border-radius: 1rem;
    width: 100%;
    margin: auto;
    font-weight: 700;
  }
  .cartIcon {
    width: auto;
    padding: 0.2rem;
    margin-right: 0.5rem;
  }
}
/* Body styles */
h2,p {
  color: #6b7189;
}
h2 {
  text-transform: uppercase;
  font-size: 12px;
  font-family: Montserrat;
  font-weight: 500;
  letter-spacing: 0.3rem;
}
.price, h1 {
  font-family: fraunces;
  font-weight: 700;
  font-size: 30px;
}
h1 {
  color: #1c232b;
  line-height: 33px;
}
p {
  line-height: 1.8;
}
ul {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0 0 20px;
  line-height: 40x;
}
ul li {
  list-style-type: none;
  display: inline-block;
  padding-right: 1rem;
}
.price {
  color: #3c8067;
}
.oldPrice {
  text-decoration: line-through;
  color: #6b7189;
  align-items: center;
}
/* Button styles */
.btn:hover, .btn:active {
  background-color: #194c3b;
}
.btn {
  transition: background-color 0.9s;
}
/* Attribution styles */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: #3d51a2;
}
